# env
.env
.env.*

# python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# airflow runtime
airflow/logs/
airflow/plugins/__pycache__/
airflow/dags/__pycache__/

# secrets (keep folder, ignore contents)
airflow/secrets/*
!airflow/secrets/.gitkeep

# local outputs
raw/
.cursor_*.json

# OS/IDE
.DS_Store
.vscode/
.idea/

# gcp / credentials
*.json
credentials/

airflow/provisioning/datasources/bigquery.yaml